name: Deploy UI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Install Bundler
        run: sudo gem install bundler -v '2.1.4'

      - name: Install dependencies & Deploy
        run: |
          bundle config path _site/vendor/bundle
          bundle install
          bundle exec jekyll build
          aws s3 sync --delete _site/ s3://uclusion-blog-${{ inputs.environment }}
          aws configure set preview.cloudfront true
          aws cloudfront create-invalidation --distribution-id ${{ secrets.UI_DISTRIBUTION_ID }} --paths "/*"
